body{
    margin:12;
    background-color:#ffdf80;
    }

h2{
    color:#802d00;
}

p{
    font-size:1.2em;
}

a {
    color:#990000;
}

h1 a {
display:block;
    color:#660000;
    text-decoration:none;
    text-align: center;
    margin-left: 50;
    padding:3 15;
}

h3 a {
    color:#990000;
    text-decoration:none;
    margin-left: 50;
    padding:3 15;
    background: #ffecb3;
    background: linear-gradient(to top, #ffcf33, #fff2cc);
    box-shadow: 2 2 3 rgba(0,0,0,0.5);
}

#toContent{
    position:fixed;
    right:0;
    bottom:0;
    background-color:#990000;
    background: linear-gradient(to top, #660000, #aa0000);
    margin: 5;
    padding:10 20;
    color:white;
    text-decoration:none;
    font-size:1.5em;
}